.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 0;
  background-color: var(--gray);
}

.search-results-title {
  font-family: "Korataki", serif;
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #000000;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 40px;
}

.product-card {
  background: var(--white);
  text-align: start;
  cursor: pointer;
}

.product-image {
  width: 100%;
  max-height: 477px;
  max-width: fit-content;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 18px;
}

.product-title {
  font-size: 16px;
  margin: 0 0 12px 0;
  color: var(--black);
}

.product-image-wrapper {
  position: relative;
  width: 100%;
}

.details-btn {
  display: none;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e45302;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 13px 87px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  z-index: 2;
  max-width: 258px;
  max-height: 48px;
}

.product-card:hover .details-btn {
  display: block;
}

.action-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #000000;
  color: white;
  padding: 8px 40px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 15px;
  z-index: 3;
  max-width: 126px;
  max-height: 38px;
}

.price-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
}

.product-sale {
  font-size: 22px;
  font-weight: 700;
  color: #e45302;
}

.old-price {
  font-size: 22px;
  font-weight: 600;
  color: #808080;
  text-decoration: line-through;
}
